@model HotelSpa.Models.QuartoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuartoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaAtivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaAtivo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
